<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mycommunity.mapper.UserAgentMapper">
  <!-- resultMap元素用于配置结果映射规则 -->
  <resultMap id="userAgentMap" type="com.example.mycommunity.model.UserAgent">
    <result column="user_id" property="userId" />
    <result column="server_addr" property="serverAddr" />
    <result column="server_port" property="serverPort" />
  </resultMap>

  <!-- insert元素用于配置插入语句 -->
  <insert id="addUserAgent">
    INSERT INTO user_agent(user_id, email,uuid,server_addr,server_port) VALUES(#{userId},#{email},#{uuid},#{serverAddr},#{serverPort})
  </insert>

  <select id="getUserAgent" resultMap="userAgentMap">
    SELECT * FROM user_agent WHERE user_id = #{userId}
  </select>

  <!-- delete元素用于配置删除语句 -->
  <delete id="deleteUserAgent">
    DELETE FROM user_agent WHERE user_id = #{userId}
  </delete>
</mapper>
